@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #120b48;
  --white: #ffffff;
  --black: #141414;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
